<% if (errorStack.length){%>
    <%errorStack.forEach((error)=>{%>
        <div class="alert alert-danger" role="alert">
            <%= error%>
        </div>
        <% })%>
            <%}%>
            <% if (successMessage.length){%>
                <%successMessage.forEach((error)=>{%>
                    <div class="alert alert-success" role="alert">
                        <%= error%>
                    </div>
                    <% })%>
                        <%}%>

<section class="vh-100 bg-image"
    style="background-image: url('https://images.hindustantimes.com/tech/img/2021/05/07/960x540/wuQrSDPjDDaXaq9yCLhkQS_1620400264197_1620400271550.jpg');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5 bg-image" style="background-image: url('https://assets-global.website-files.com/5a9ee6416e90d20001b20038/64f5dd823251a37c296eec05_Rectangle%20(72).svg');">
                            <h2 class="text-uppercase text-center mb-5">Log into Your Account</h2>
                            <form action="/login" method="post">

                                <div class="form-outline mb-4">
                                    <input autocomplete="off" type="text" name="email" id="email"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="email">Your Email</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input autocomplete="off" type="password" name="password" id="password"
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="password">Password</label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
