<h1 class="mt-5 mb-4">Add New Product</h1>
<% if (errorStack.length){%>
    <%errorStack.forEach((error)=>{%>
        <div class="alert alert-danger" role="alert">
            <%= error%>
        </div>
        <% })%>
            <%}%>
                <form action="/" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="name" class="form-label">Product Name</label>
                        <input type="text" class="form-control" id="name" autocomplete="off" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">Product Description</label>
                        <textarea class="form-control" id="desc" autocomplete="off" name="desc" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" class="form-control" id="price" autocomplete="off" name="price">
                    </div>
                    <div class="mb-3">
                        <label for="imageUrl" class="form-label">Image URL</label>
                        <input type="file" class="form-control" id="imageUrl" autocomplete="off" name="imageUrl"
                        accept="image/png, image/gif, image/jpeg, image/jpg">
                    </div>
                    <button type="submit" class="btn btn-success">Add</button>
                </form>